html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

button {
  background: none;
  border: none;
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

html,
body {
  font-family: 'MuseoSansCyrl', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.container {
  max-width: 1330px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.play-btn {
  padding: 20px 18px 20px 22px;
  border-radius: 50%;
  background-color: rgba(207, 165, 91, 0.7);
  box-shadow: 0px 0px 50px #CFA55B;
  position: relative;
  transition: all .2s ease-in;
}
.play-btn:after {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 93px;
  height: 93px;
  border: 2px solid #CFA55B;
  border-radius: 50%;
  transition: all .2s ease-in;
}
.play-btn:hover.play-btn {
  transform: scale(1.1);
  background-color: #eec57d;
}
.play-btn:hover.play-btn:after {
  transform: scale(0.8);
  opacity: 0;
  border-color: #eec57d;
}

.btn {
  padding: 30px 66px;
  font-size: 18px;
  line-height: 1;
  color: #FFFFFF;
  font-weight: 900;
  background-color: #CFA55B;
  box-shadow: 0px 20px 40px rgba(207, 165, 91, 0.4);
  border-radius: 5px;
  display: inline-block;
  max-width: 420px;
  transition: background-color .2s ease-in;
}
.btn:hover {
  background-color: #e0b262;
}

.form-btn {
  padding: 25px 40px;
  display: inline-block;
}

.none {
  display: none;
}

@media (max-width: 500px) {
  .card__info .btn {
    padding: calc(20px + (30 - 20) * (100vw - 320px) / (500 - 320)) calc(33px + (66 - 33) * (100vw - 320px) / (500 - 320));
    font-size: calc(14px + (18 - 14) * (100vw - 320px) / (500 - 320));
    max-width: calc(290px + (420 - 290) * (100vw - 320px) / (500 - 320));
    margin: 0 auto;
  }
}
@media (max-width: 550px) {
  .form-btn {
    font-size: 14px;
  }
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.main {
  padding: 55px 0 145px;
  height: min-content;
  background: url("./../img/main/main-bg.jpg") center no-repeat;
  background-size: cover;
}
.main__wrapper {
  max-width: 1175px;
  padding-right: 15px;
}
.main__title-row {
  margin-bottom: 156px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__heading {
  max-width: 630px;
}
.main__title {
  margin-bottom: 83px;
  font-size: 37px;
  line-height: 1.15;
  font-weight: 900;
}
.main__title span {
  color: #CFA55B;
}
.main__btn {
  padding: 30px 45px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  display: inline-block;
  background-color: #CFA55B;
  box-shadow: 0px 0px 60px rgba(255, 194, 86, 0.5);
  border-radius: 5px;
  position: relative;
  transition: all .2s ease-in;
}
.main__btn:after {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  width: 364px;
  height: 90px;
  border: 1px solid #CFA55B;
  border-radius: 5px;
  transition: .2s ease-in;
}
.main__btn:hover.main__btn {
  transform: scale(1.025);
  background-color: #eec57d;
}
.main__btn:hover.main__btn:after {
  opacity: 0;
  transform: scale(0.85);
}
.main__benefits {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.main__benefit-container {
  max-width: 310px;
  display: flex;
  align-items: center;
  column-gap: 28px;
}
.main__benefit-element img {
  border-radius: 50%;
  box-shadow: 0px 0px 15px #CFA55B;
}

@media (max-width: 1350px) {
  .main {
    padding-top: calc(20px + (55 - 20) * (100vw - 320px) / (1350 - 320));
    padding-bottom: calc(90px + (145 - 90) * (100vw - 320px) / (1350 - 320));
  }
}
@media (max-width: 1100px) {
  .main__benefits p {
    font-size: calc(14px + (16 - 14) * (100vw - 320px) / (1100 - 320));
  }
  .main__title {
    font-size: calc(20px + (37 - 20) * (100vw - 320px) / (1100 - 320));
    margin-bottom: calc(37px + (83 - 37) * (100vw - 320px) / (1100 - 320));
  }
  .main__title-row {
    margin-bottom: calc(37px + (156 - 37) * (100vw - 320px) / (1100 - 320));
  }
}
@media (max-width: 770px) {
  .main__benefit-container {
    align-items: flex-start;
  }
}
@media (max-width: 500px) {
  .play-btn {
    display: none;
  }

  .main__benefit-container {
    align-items: center;
  }
  .main__benefits {
    flex-wrap: wrap;
    row-gap: calc(10px + (20 - 10) * (100vw - 320px) / (500 - 320));
  }
  .main__btn {
    padding: 20px 25px;
    font-size: 13px;
  }
  .main__btn:after {
    width: 277px;
    height: 70px;
  }
}
.header {
  margin-bottom: 180px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  position: relative;
}
.header__slogan {
  max-width: 286px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}
.header__number {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  transition: color .2s ease-in;
}
.header__number:hover {
  color: #eec57d;
}
.header__btn {
  padding: 15px 25px;
  border: 2px solid #CFA55B;
  border-radius: 5px;
  background: none;
  filter: drop-shadow(0px 0px 30px #FFC256);
  transition: background-color .2s ease-in, color .2s ease-in, border-color .2s ease-in;
  font-size: 14px;
  color: #CFA55B;
  font-family: 'MuseoSansCyrl', sans-serif;
  font-weight: 700;
}
.header__btn:hover {
  background-color: rgba(207, 165, 91, 0.2);
  color: #eec57d;
  border-color: #eec57d;
}

@media (max-width: 1100px) {
  .header {
    margin-bottom: calc(50px + (180 - 50) * (100vw - 320px) / (1100 - 320));
  }
  .header__slogan {
    display: none;
  }
  .header__number {
    font-size: calc(14px + (24 - 14) * (100vw - 320px) / (1100 - 320));
  }
  .header__btn {
    padding: 15px 20px;
  }
}
@media (max-width: 770px) {
  .header__number {
    display: none;
  }
  .header__btn {
    padding: 10px 15px;
  }
}
@media (max-width: 500px) {
  .header__btn {
    display: none;
  }
}
.menu {
  padding: 55px 0;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: .3s ease-in;
  opacity: 0;
  background-color: #fff;
  z-index: -1;
}
.menu.open {
  opacity: 1;
  z-index: 5;
}
.menu .container {
  color: #424242;
}
.menu__container {
  display: flex;
  align-items: center;
  column-gap: 20px;
  justify-content: space-between;
}
.menu .logo h1 {
  color: #424242;
}
.menu__slogan {
  max-width: 286px;
  font-size: 18px;
  font-weight: 500;
  color: #424242;
}
.menu__number {
  font-size: 24px;
  font-weight: 700;
  color: #424242;
  transition: color .2s ease-in;
}
.menu__number:hover {
  color: #eec57d;
}
.menu__btn {
  padding: 15px 25px;
  border: 2px solid #CFA55B;
  border-radius: 5px;
  background: none;
  transition: background-color .2s ease-in, color .2s ease-in, border-color .2s ease-in;
  font-size: 14px;
  color: #CFA55B;
  font-family: 'MuseoSansCyrl', sans-serif;
  font-weight: 700;
}
.menu__btn:hover {
  background-color: #CFA55B;
  color: #fff;
  border-color: #CFA55B;
}

.links-container {
  padding: 200px 50px 250px;
}
.links-container ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.links-container ul li {
  width: 30%;
  font-weight: 700;
  font-size: 32px;
  line-height: 0.8;
}
.links-container ul li a {
  transition: color .2s ease-in;
}
.links-container ul li a:hover {
  color: #CFA55B;
}

@media (max-width: 1350px) {
  .menu {
    padding-top: calc(20px + (55 - 20) * (100vw - 320px) / (1350 - 320));
    padding-bottom: calc(20px + (55 - 20) * (100vw - 320px) / (1350 - 320));
  }
}
@media (max-width: 1100px) {
  .menu__slogan {
    display: none;
  }
  .menu__number {
    font-size: calc(14px + (24 - 14) * (100vw - 320px) / (1100 - 320));
  }
  .menu__btn {
    padding: 15px 20px;
  }

  .links-container {
    padding: calc(50px + (200 - 50) * (100vw - 320px) / (1100 - 320)) calc(0px + (50 - 0) * (100vw - 320px) / (1100 - 320)) calc(70px + (250 - 70) * (100vw - 320px) / (1100 - 320));
  }
  .links-container ul {
    row-gap: calc(10px + (30 - 10) * (100vw - 320px) / (1100 - 320));
  }
  .links-container ul li {
    font-size: calc(18px + (32 - 18) * (100vw - 320px) / (1100 - 320));
  }
}
@media (max-width: 770px) {
  .menu__number {
    display: none;
  }
  .menu__btn {
    padding: 10px 15px;
  }

  .links-container ul {
    flex-direction: column;
  }
  .links-container ul li {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .menu__btn {
    display: none;
  }
}
.location {
  display: flex;
  align-items: center;
  column-gap: 18px;
}
.location__adress {
  max-width: 203px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.logo h1 {
  font-size: 51px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 900;
}
.logo h2 {
  font-size: 27px;
  line-height: 1;
  color: #CFA55B;
  transition: color .2s ease-in;
}

@media (max-width: 1100px) {
  .logo h1 {
    font-size: calc(24px + (51 - 24) * (100vw - 320px) / (1100 - 320));
  }

  .logo h2 {
    font-size: calc(14px + (27 - 14) * (100vw - 320px) / (1100 - 320));
  }
}
.nav {
  position: relative;
}
.nav__btn {
  width: 37px;
  height: 18.5px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}
.nav__btn span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .3s ease-in;
}
.nav__btn span:nth-child(1) {
  transform-origin: left center;
  top: 0px;
}
.nav__btn span:nth-child(2) {
  transform-origin: left center;
  top: 9px;
}
.nav__btn span:nth-child(3) {
  transform-origin: left center;
  top: 18.5px;
}
.nav__btn.open span {
  background: #424242;
}
.nav__btn.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -5px;
  left: 5px;
}
.nav__btn.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.nav__btn.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 20.5px;
  left: 5px;
}

.benefits {
  padding: 80px 0 120px;
  overflow: hidden;
}
.benefits__container {
  position: relative;
}
.benefits__container:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1224px;
  height: 1224px;
  z-index: -1;
  background: url("./../../img/benefits/design-element.svg") center no-repeat;
  background-size: cover;
  transform: translate(50%, -20%);
}
.benefits__container:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1224px;
  height: 1224px;
  z-index: -1;
  background: url("./../../img/benefits/design-element.svg") center no-repeat;
  background-size: cover;
  transform: translate(-50%, 45%);
}
.benefits__heading {
  max-width: 694px;
  margin: 0 auto 51px;
  font-weight: 900;
  font-size: 36px;
  line-height: 1.15;
  text-align: center;
  color: #424242;
}
.benefits__heading span {
  color: #CFA55B;
}
.benefits-card {
  margin-bottom: 74px;
}
.benefits-card:last-child {
  margin-bottom: 0;
}
.benefits-card_even .card__info {
  order: 1;
}
.benefits-card_even .card__num {
  max-width: 542px;
  margin-left: 58%;
}

@media (max-width: 1260px) {
  .benefits {
    padding: calc(40px + (80 - 40) * (100vw - 320px) / (1260 - 320)) 0 calc(60px + (120 - 60) * (100vw - 320px) / (1260 - 320));
  }
  .benefits__heading {
    font-size: calc(20px + (36 - 20) * (100vw - 320px) / (1260 - 320));
    max-width: calc(290px + (694 - 290) * (100vw - 320px) / (1260 - 320));
  }
  .benefits-card_even .card__num {
    margin: 0 auto;
    max-width: 649px;
  }
}
.card__num {
  margin-bottom: 24px;
  font-family: 'Roboto';
  color: #CFA55B;
  font-weight: 900;
  font-size: 96px;
  line-height: 1;
  text-transform: uppercase;
  opacity: .3;
  max-width: 649px;
}
.card__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 30px;
}
.card__info {
  color: #424242;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__title {
  font-size: 30px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
}
.card__benefit {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.card__benefit span {
  color: #CFA55B;
  font-weight: 900;
}
.card__benefit p {
  max-width: 360px;
}
.card__img {
  max-width: 649px;
}
.card__img img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 50px rgba(60, 60, 60, 0.4);
}

@media (max-width: 1260px) {
  .card__container {
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
  }
  .card__info {
    order: 1;
    row-gap: 20px;
  }
  .card__num {
    font-size: calc(50px + (96 - 50) * (100vw - 320px) / (1100 - 320));
    margin: 0 auto;
  }
  .card__title {
    font-size: calc(20px + (30 - 20) * (100vw - 320px) / (1100 - 320));
  }
}
.information {
  padding: 80px 0;
  background: url("./../img/information/info-bg.jpg") center no-repeat;
  background-size: cover;
}
.information__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.information__heading {
  max-width: 638px;
}
.information__heading p:first-of-type {
  margin-bottom: 29px;
}
.information__title {
  margin-bottom: 53px;
  max-width: 477px;
  font-weight: 900;
  font-size: 36px;
  line-height: 1.19;
}
.information__title span {
  color: #CFA55B;
}
.information__card {
  max-width: 447px;
  color: #424242;
}
.information__card-btn {
  padding: 25px 0;
  display: block;
  text-align: center;
}
.information__card-front {
  padding: 36px 34px 43px;
  background: #fff;
  box-shadow: 0px 4px 50px rgba(207, 165, 91, 0.5);
  border-radius: 10px;
  position: relative;
}
.information__card-title {
  max-width: 323px;
  margin-bottom: 23px;
  font-size: 24px;
  line-height: 1;
  font-weight: 900;
}
.information__card-subtitle {
  margin-bottom: 37px;
  font-size: 14px;
}
.information__benefits {
  max-width: 345px;
}
.information__benefits li {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  column-gap: 11px;
  font-size: 14px;
}
.information__benefits li span {
  font-weight: 900;
  color: #CFA55B;
}
.information__benefits li:last-child {
  margin-bottom: 54px;
}

@media (max-width: 1100px) {
  .information {
    padding: calc(40px + (80 - 40) * (100vw - 320px) / (1260 - 320)) 0;
  }
  .information__title {
    font-size: calc(20px + (36 - 20) * (100vw - 320px) / (1100 - 320));
    margin-bottom: calc(15px + (53 - 15) * (100vw - 320px) / (1100 - 320));
  }
  .information__heading p, .information__heading p:first-of-type {
    margin-bottom: calc(10px + (29 - 10) * (100vw - 320px) / (1100 - 320));
  }
  .information__card-title {
    font-size: calc(18px + (24 - 18) * (100vw - 320px) / (1100 - 320));
    margin-bottom: calc(10px + (23 - 10) * (100vw - 320px) / (1100 - 320));
  }
  .information__card-subtitle {
    margin-bottom: calc(20px + (37 - 20) * (100vw - 320px) / (1100 - 320));
  }
  .information__card-front {
    padding: calc(28px + (36 - 28) * (100vw - 320px) / (1100 - 320)) calc(21px + (34 - 21) * (100vw - 320px) / (1100 - 320)) calc(27px + (43 - 27) * (100vw - 320px) / (1100 - 320));
  }
  .information__benefits li {
    margin-bottom: calc(10px + (25 - 10) * (100vw - 320px) / (1100 - 320));
  }
  .information__benefits li:last-child {
    margin-bottom: calc(20px + (54 - 20) * (100vw - 320px) / (1100 - 320));
  }
}
.catalog {
  padding: 90px 0;
  background: url("./../img/benefits/design-element.svg") center no-repeat;
  background-size: 70%;
  color: #424242;
}
.catalog__title {
  margin-bottom: 57px;
  font-weight: 900;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #424242;
}
.catalog__title span {
  color: #CFA55B;
}
.catalog__heading {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 38px;
}
.catalog__btn {
  padding: 23px 42px;
  font-size: 16px;
  line-height: 1.19;
  font-weight: 900;
  color: #CFA55B;
  border: 2px solid #CFA55B;
  border-radius: 5px;
  transition: .2s ease-in;
}
.catalog__btn:hover {
  color: #fff;
  background-color: #CFA55B;
}
.catalog__btn.active {
  color: #fff;
  background-color: #CFA55B;
  box-shadow: 0px 20px 40px rgba(207, 165, 91, 0.4);
}
.catalog__slider-tab {
  display: none;
}
.catalog__slider-tab.active {
  display: block;
}
.catalog__card {
  width: 1100px;
  padding: 0 50px;
  margin: 0 auto;
}
.catalog__card-img {
  max-width: 1100px;
  margin: 0 auto 32px;
}
.catalog__card-img img {
  width: 100%;
  border-radius: 10px;
}
.catalog__card-about {
  text-align: center;
  margin-bottom: 47px;
}
.catalog__card-about h2 {
  font-weight: 900;
  font-size: 30px;
  line-height: 1.2;
  color: #CFA55B;
}
.catalog__card-about p {
  color: #424242;
  font-weight: 700;
  line-height: 1.375;
}
.catalog__card-info {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 100px;
}
.catalog__card-info-item h3 {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  color: #CFA55B;
}
.catalog__card-info-item p {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  color: #8c8c8c;
}

.swiper-button-prev:after {
  color: #CFA55B;
  font-weight: 900;
}
.swiper-button-next:after {
  color: #CFA55B;
  font-weight: 900;
}

@media (max-width: 1200px) {
  .catalog__btn {
    font-size: 14px;
    padding: 20px 25px;
  }
}
@media (max-width: 1100px) {
  .catalog {
    padding: calc(40px + (80 - 40) * (100vw - 320px) / (1100 - 320)) 0;
  }
  .catalog__title {
    font-size: calc(20px + (36 - 20) * (100vw - 320px) / (1100 - 320));
    margin-bottom: calc(15px + (57 - 15) * (100vw - 320px) / (1100 - 320));
  }
  .catalog__heading {
    flex-wrap: wrap;
    column-gap: 10px;
  }
}
@media (max-width: 870px) {
  .catalog__heading {
    margin-bottom: 30px;
    flex-direction: column;
    row-gap: 15px;
  }
  .catalog__btn {
    display: block;
    max-width: 260px;
    width: 100%;
  }
  .catalog__card-info {
    column-gap: calc(30px + (100 - 30) * (100vw - 550px) / (870 - 550));
  }
}
@media (max-width: 550px) {
  .catalog__btn {
    padding: calc(15px + (20 - 15) * (100vw - 320px) / (550 - 320)) 25px;
  }
  .catalog__card {
    padding: 0 calc(5px + (20 - 5) * (100vw - 320px) / (550 - 320));
  }
  .catalog__card-about {
    margin-bottom: calc(15px + (47 - 15) * (100vw - 320px) / (550 - 320));
  }
  .catalog__card-about h2 {
    font-size: calc(18px + (30 - 18) * (100vw - 320px) / (550 - 320));
  }
  .catalog__card-about p {
    font-size: 14px;
  }
  .catalog__card-info {
    flex-wrap: wrap;
    row-gap: calc(15px + (30 - 15) * (100vw - 320px) / (550 - 320));
    column-gap: 30px;
  }
  .catalog__card-info-item h3 {
    font-size: calc(20px + (30 - 20) * (100vw - 320px) / (550 - 320));
  }
  .catalog__card-info-item p {
    font-size: calc(18px + (24 - 18) * (100vw - 320px) / (550 - 320));
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
.questions {
  padding: 100px 0;
  background: url("./../img/questions/questions-bg.jpg") center no-repeat;
  background-size: cover;
}
.questions form {
  display: flex;
  column-gap: 27px;
}
.questions input {
  padding: 25px 40px;
  max-width: 553px;
  width: 100%;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 4px 20px rgba(66, 66, 66, 0.3);
  font-size: 20px;
  font-weight: 500;
}
.questions input::placeholder {
  color: #424242;
  font-family: 'MuseoSansCyrl', sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.questions__title {
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 900;
}
.questions p {
  margin-bottom: 44px;
  max-width: 715px;
  font-weight: 700;
  line-height: 1.375;
}

@media (max-width: 1100px) {
  .questions {
    padding: calc(40px + (100 - 40) * (100vw - 320px) / (1100 - 320)) 0;
  }
  .questions__title {
    font-size: calc(20px + (36 - 20) * (100vw - 320px) / (1100 - 320));
    margin-bottom: calc(10px + (30 - 10) * (100vw - 320px) / (1100 - 320));
  }
  .questions p {
    font-size: calc(14px + (18 - 14) * (100vw - 320px) / (1100 - 320));
    margin-bottom: calc(10px + (44 - 10) * (100vw - 320px) / (1100 - 320));
  }
}
@media (max-width: 550px) {
  .questions input {
    max-width: 273px;
  }
  .questions input::placeholder {
    font-size: 14px;
  }
  .questions form {
    flex-wrap: wrap;
    row-gap: 15px;
  }
}
.footer {
  padding: 50px 0;
  color: #424242;
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}
.footer__tel {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  transition: color .2s ease-in;
}
.footer__tel:hover {
  color: #CFA55B;
}

@media (max-width: 1100px) {
  .footer {
    padding: calc(20px + (50 - 20) * (100vw - 320px) / (1100 - 320));
  }
  .footer__tel {
    font-size: calc(18px + (24 - 18) * (100vw - 320px) / (1100 - 320));
  }
}
@media (max-width: 550px) {
  .footer__container {
    justify-content: center;
    row-gap: 20px;
  }
}
