.catalog {
  padding: 90px 0;

  background: url('./../img/benefits/design-element.svg') center no-repeat;
  background-size: 70%;

  color: $black;

  &__title {
    margin-bottom: 57px;

    font-weight: 900;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: $black;

    span {
      color: $accent-color;
    }
  }

  &__heading {
    margin-bottom: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 38px;
  }

  &__btn {
    padding: 23px 42px;

    font-size: 16px;
    line-height: 1.19;
    font-weight: 900;
    color: $accent-color;

    border: 2px solid $accent-color;
    border-radius: 5px;
    transition: 0.2s ease-in;

    &:hover {
      color: #fff;
      background-color: $accent-color;
    }

    &.active {
      color: #fff;
      background-color: $accent-color;
      box-shadow: 0px 20px 40px rgba(207, 165, 91, 0.4);
    }
  }

  &__slider {
    &-tab {
      display: none;

      &.active {
        display: block;
      }
    }
  }
  &__card {
    width: 1100px;
    padding: 0 50px;
    margin: 0 auto;
  }
  &__card-img {
    max-width: 1100px;
    margin: 0 auto 32px;

    img {
      width: 100%;
      border-radius: 10px;
    }
  }
  &__card-about {
    text-align: center;
    margin-bottom: 47px;

    h2 {
      font-weight: 900;
      font-size: 30px;
      line-height: 1.2;
      color: $accent-color;
    }

    p {
      color: $black;
      font-weight: 700;
      line-height: 1.375;
    }
  }
  &__card-info {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
  }
  &__card-info-item {
    h3 {
      font-size: 30px;
      line-height: 1.2;
      font-weight: 700;
      color: $accent-color;
    }

    p {
      font-size: 24px;
      line-height: 1.2;
      font-weight: 500;
      color: #8c8c8c;
    }
  }
}

.swiper-button {
  &-prev:after {
    color: $accent-color;
    font-weight: 900;
  }

  &-next:after {
    color: $accent-color;
    font-weight: 900;
  }
}

@media (max-width: 1200px) {
  .catalog {
    &__btn {
      font-size: 14px;
      padding: 20px 25px;
    }
  }
}

@media (max-width: 1100px) {
  .catalog {
    padding: calc(40px + (80 - 40) * (100vw - 320px) / (1100 - 320)) 0;

    &__title {
      font-size: calc(20px + (36 - 20) * (100vw - 320px) / (1100 - 320));
      margin-bottom: calc(15px + (57 - 15) * (100vw - 320px) / (1100 - 320));
    }

    &__heading {
      flex-wrap: wrap;
      column-gap: 10px;
    }
  }
}

@media (max-width: 870px) {
  .catalog {
    &__heading {
      margin-bottom: 30px;
      flex-direction: column;
      row-gap: 15px;
    }

    &__btn {
      display: block;
      max-width: 260px;
      width: 100%;
    }

    &__card {
      &-info {
        column-gap: calc(30px + (100 - 30) * (100vw - 550px) / (870 - 550));
      }
    }
  }
}

@media (max-width: 550px) {
  .catalog {
    &__btn {
      padding: calc(15px + (20 - 15) * (100vw - 320px) / (550 - 320)) 25px;
    }

    &__card {
      padding: 0 calc(5px + (20 - 5) * (100vw - 320px) / (550 - 320));

      &-about {
        margin-bottom: calc(15px + (47 - 15) * (100vw - 320px) / (550 - 320));

        & h2 {
          font-size: calc(18px + (30 - 18) * (100vw - 320px) / (550 - 320));
        }

        & p {
          font-size: 14px;
        }
      }

      &-info {
        flex-wrap: wrap;
        row-gap: calc(15px + (30 - 15) * (100vw - 320px) / (550 - 320));
        column-gap: 30px;

        &-item {
          & h3 {
            font-size: calc(20px + (30 - 20) * (100vw - 320px) / (550 - 320));
          }

          p {
            font-size: calc(18px + (24 - 18) * (100vw - 320px) / (550 - 320));
          }
        }
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
