.footer {
  padding: 50px 0;
  color: $black;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__tel {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;

    transition: color .2s ease-in;

    &:hover {
      color: $accent-color;
    }
  }
}
.container {
}
