.header {
  margin-bottom: 180px;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;

  position: relative;

  &__slogan {
    max-width: 286px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
  }

  &__number {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    transition: color .2s ease-in;

    &:hover {
      color: $accent-color-hover;
    }
  }

  &__btn {
    padding: 15px 25px;

    border: 2px solid $accent-color;
    border-radius: 5px;
    background: none;
    filter: drop-shadow(0px 0px 30px #FFC256);
    transition: background-color .2s ease-in, color .2s ease-in, border-color .2s ease-in;

    font-size: 14px;
    color: $accent-color;
    font-family: 'MuseoSansCyrl', sans-serif;
    font-weight: 700;

    &:hover {
      background-color: rgba($accent-color, .2);
      color: $accent-color-hover;
      border-color: $accent-color-hover;
    }
  }
}

@media(max-width: 1100px) {

  .header {
    margin-bottom: calc(50px + (180 - 50) * (100vw - 320px) / (1100 - 320));

    &__slogan {
      display: none;
    }

    &__number {
      font-size: calc(14px + (24 - 14) * (100vw - 320px) / (1100 - 320));
    }

    &__btn {
      padding: 15px 20px;
    }

  }

}

@media(max-width: 770px) {

  .header {

    &__number {
      display: none;
    }

    &__btn {
      padding: 10px 15px;
    }
  }

}

@media(max-width: 500px) {

  .header {
    &__btn {
      display: none;
    }
  }

}