.logo {

  h1 {
    font-size: 51px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 900;
  }
  h2 {
    font-size: 27px;
    line-height: 1;
    color: $accent-color;
    transition: color .2s ease-in;

  }
}

@media(max-width: 1100px) {

  .logo h1 {
    font-size: calc(24px + (51 - 24) * (100vw - 320px) / (1100 - 320));
  }

  .logo h2 {
    font-size: calc(14px + (27 - 14) * (100vw - 320px) / (1100 - 320));
  }
}
