.main {
  padding: 55px 0 145px;
  height: min-content;

  background: url('./../img/main/main-bg.jpg') center no-repeat;
  background-size: cover;

  &__wrapper {
    max-width: 1175px;
    padding-right: 15px;
  }

  &__title-row {
    margin-bottom: 156px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__heading {
    max-width: 630px;
  }
  &__title {
    margin-bottom: 83px;
    font-size: 37px;
    line-height: 1.15;
    font-weight: 900;

    span {
      color: $accent-color;
    }
  }
  &__btn {
    padding: 30px 45px;

    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;

    display: inline-block;

    background-color: $accent-color;
    box-shadow: 0px 0px 60px rgba(255, 194, 86, 0.5);
    border-radius: 5px;
    position: relative;
    transition: all .2s ease-in;

    &:after {
      content: "";
      position: absolute;
      top: -7px;
      left: -7px;
      width: 364px;
      height: 90px;
      border: 1px solid $accent-color;
      border-radius: 5px;
      transition: .2s ease-in;
    }

    &:hover.main__btn {
      transform: scale(1.025);
      background-color: $accent-color-hover;
    }

    &:hover.main__btn:after{
      opacity: 0;
      transform: scale(.85);
    }

  }

  &__benefits {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
  }

  &__benefit-container {
    max-width: 310px;
    display: flex;
    align-items: center;
    column-gap: 28px;
  }

  &__benefit-element {
    img {
      border-radius: 50%;
      box-shadow: 0px 0px 15px #CFA55B;
    }
  }


}

@media(max-width: 1350px) {

  .main {
    padding-top: calc(20px + (55 - 20) * (100vw - 320px) / (1350 - 320));
    padding-bottom: calc(90px + (145 - 90) * (100vw - 320px) / (1350 - 320));
  }

}

@media(max-width: 1100px) {

  .main {

    &__benefits p {
      font-size: calc(14px + (16 - 14) * (100vw - 320px) / (1100 - 320));
    }

    &__title {
      font-size: calc(20px + (37 - 20) * (100vw - 320px) / (1100 - 320));
      margin-bottom: calc(37px + (83 - 37) * (100vw - 320px) / (1100 - 320));
    }

    &__title-row {
      margin-bottom: calc(37px + (156 - 37) * (100vw - 320px) / (1100 - 320));
    }



  }


}

@media(max-width: 770px) {

  .main {

    &__benefit-container {
      align-items: flex-start;
    }

  }

}

@media(max-width: 500px) {

  .play-btn {
    display: none;
  }

  .main {

    &__benefit-container {
      align-items: center;
    }

    &__benefits {
      flex-wrap: wrap;
      row-gap: calc(10px + (20 - 10) * (100vw - 320px) / (500 - 320));
    }

    &__btn {
      padding: 20px 25px;
      font-size: 13px;

      &:after {
        width: 277px;
        height: 70px;
      }
    }

  }
}

