.menu {
  padding: 55px 0;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  transition: .3s ease-in;
  opacity: 0;

  background-color: #fff;
  z-index: -1;

  &.open {
    opacity: 1;
    z-index: 5;
  }

  .container {
    color: $black;
  }

  &__container {
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: space-between;
  }

  .logo {
    h1 {
      color: $black;
    }
  }

  &__slogan {
    max-width: 286px;
    font-size: 18px;
    font-weight: 500;
    color: $black;
  }

  &__number {
    font-size: 24px;
    font-weight: 700;
    color: $black;
    transition: color .2s ease-in;

    &:hover {
      color: $accent-color-hover;
    }
  }

  &__btn {
    padding: 15px 25px;

    border: 2px solid $accent-color;
    border-radius: 5px;
    background: none;
    transition: background-color .2s ease-in, color .2s ease-in, border-color .2s ease-in;

    font-size: 14px;
    color: $accent-color;
    font-family: 'MuseoSansCyrl', sans-serif;
    font-weight: 700;

    &:hover {
      background-color: $accent-color;
      color: #fff;
      border-color: $accent-color;
    }
  }

  &__nav {

  }
}

.links-container {
  padding: 200px 50px 250px;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    li {
      width: 30%;

      font-weight: 700;
      font-size: 32px;
      line-height: 0.8;

      a {
        transition: color .2s ease-in;
        &:hover {
          color: $accent-color;
        }
      }
    }
  }
}

@media(max-width: 1350px) {
  .menu {
    padding-top: calc(20px + (55 - 20) * (100vw - 320px) / (1350 - 320));
    padding-bottom: calc(20px + (55 - 20) * (100vw - 320px) / (1350 - 320));
  }
}

@media(max-width: 1100px) {

  .menu {

    &__slogan {
      display: none;
    }

    &__number {
      font-size: calc(14px + (24 - 14) * (100vw - 320px) / (1100 - 320));
    }

    &__btn {
      padding: 15px 20px;
    }

  }

  .links-container {
    padding:  calc(50px + (200 - 50) * (100vw - 320px) / (1100 - 320))
              calc(0px + (50 - 0) * (100vw - 320px) / (1100 - 320))
              calc(70px + (250 - 70) * (100vw - 320px) / (1100 - 320));

    & ul {
      row-gap: calc(10px + (30 - 10) * (100vw - 320px) / (1100 - 320));

      & li {
        font-size: calc(18px + (32 - 18) * (100vw - 320px) / (1100 - 320));
      }
    }


  }

}

@media(max-width: 770px) {

  .menu {

    &__number {
      display: none;
    }

    &__btn {
      padding: 10px 15px;
    }
  }

  .links-container ul {
    flex-direction: column;

    & li {
      width: 100%;
    }
  }

}

@media(max-width: 500px) {

  .menu {

    &__btn {
      display: none;
    }

  }

}

